@media print {
    .no-print, .no-print * { display: none !important; }
}
@media not print {
    .only-print, .only-print * { display: none !important; }
}

html, body {
    margin:0;
    height: 100%;
}
@-moz-document url-prefix(){
    * {
        letter-spacing: -0.05rem;
        word-spacing: 0.0625rem;
    }
}

body {
    background: #222222;
    font-family: 'Raleway', 'Noto Sans Symbols2', sans-serif;
}
a {
    color: #27acf1;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

#main {
    position: relative;
    min-height: calc(100% - 1.875rem);
    padding: 1rem 1.5rem 1rem 1.5rem;
    background: #181818;
    color: #EEE;
    box-shadow: 0 0 1.25rem 2px #080808;
    box-sizing: border-box;
}
@media screen {
    #main:before {
        content: '';
        position: absolute;
        top: 0; right: 0;
        border-top: 100px solid #313131;
        border-left: 100px solid transparent;
        width: 0;
    }
}
@media screen and (min-width: 750px) {
    #main {
        margin: 0 5%;
        padding: 2.625rem 3rem 2.625rem 3rem;
    }
}
@media screen and (min-width: 1200px) {
    #main {
        width: 980px;
        margin: 0 auto;
    }
}
/* @media screen and (min-width: 2000px) {
    #main {
        width: 1400px;
        margin: 0 auto;
    }
} */

#title {
    padding: 0 0 1.25rem 0;
}
#title h1 {
    font-size: 2rem;
}
#title h2 {
    font-size: 1.7rem;
}
#title h4 {
    margin: 0.625rem 0 0 0;
}
#title h1, #title h2 {
    margin: 0;
}

#personnal_infos, #links {
    padding: 0 0 1.25rem 0;
}
@media screen and (min-width: 640px) {
    #personnal_infos, #links {
        display: inline-block;
        width: 50%;
    }
    #links {
        vertical-align: top;
    }
}
.personnal_info_label {
    font-weight: bold;
}
.personnal_info_label, .personnal_info_content {
    display: inline;
}
.personnal_info_label::after {
    content: ': ';
}


.catergory_title {
    font-size: 1.8rem;
    font-weight: bold;
    padding: 0 0 5px 0;
}
.job_type {
    font-size: 1.7rem;
    padding: 0 0 5px 0;
}
.job_name, .project_name {
    font-size: 1.25rem;
    font-weight: bold;
}
.job_place {
    font-weight: bold;
}
.job_place::after {
    padding: 0 0.5rem 0 0.5rem;
    content: '●';
    font-size: 0.5rem;
    vertical-align: middle;
}
.job_period, .project_date {
    font-weight: bold;
}
.arrow {
    font-size: 0.8rem;
}
.arrow::after {
    margin: 0 -0.1rem;
    padding: 0;
    content: '⮞';
}
.job_place, .job_period {
    display: inline;
}
.job_description {
    padding-top: 7px;
}
.project_name, .project_date {
    display: inline;
}
.project_date::before {
    content: '-';
    padding: 0 0.5rem 0 0.375rem;
}
/* @media screen and (min-width: 1020px) {
    .apprenticeship .job:first-child .job_description, .job_description {
        padding-right: 20px;
    }
} */
.job_description, .project_description {
    padding-right: 15px;
}
.job_description p:last-child {
    padding-bottom: 0;
}
.job, .project {
    vertical-align: top;
}
.apprenticeship .job,
.project:nth-child(2) {
    margin: 0 0 1rem 0;
}

.job ul, .project ul, #interests ul {
    margin: 0;
    padding: 0 0 0 1.2rem;
    list-style-type: square;
}
.job p, .project p {
    margin: 0;
    padding-bottom: 0.3125rem;
}
.job_extra {
    font-weight: bold;
}
#events .project {
    margin: 0;
}

#events p {
    margin: 0;
}

#events, #interests {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}


#professional_experiences, #personnal_projects, #interests{
    position: relative;
    margin: 0 0 1rem 0;
}


@media print {
    * {
        line-height: 1.35em;
    }
    html {
        font-size: 75%;
    }
    #main {
        padding: 2rem 1rem 0 3.5rem;
        margin: 0;
        min-height: 100%;
    }
    #title, #personnal_infos {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 0;
    }
    #title {
        margin-top: -0.45rem;
        margin-left: -1.2rem;
    }
    #personnal_infos {
        margin-left: 1.2rem;
    }
    #professional_experiences:before, #personnal_projects:before, #interests:before {
        border-left: 0.5rem solid black!important;
        content: "";
        position: absolute;
        left: -1.2rem;
        top: 1.45rem;
        height: calc(100% - 1.45rem);
    }
}
@media print, (min-width: 1020px) {
    .job, .project {
        display: inline-block;
        width: 50%;
    }
    .catergory_title {
        padding-top: 1rem;;
    }
}

@media screen {
    header {
        width: auto;
        position: absolute;
        top: 1em;
        right: 1em;
    }
}

/* #footer {
    position: fixed;
    bottom: 0;
    left: 2.5rem;
} */


header img {
    filter: invert(1);
    margin: -10px -12px 0 0;
    height: 40px;
    width: 40px;
}

/* Ugly hack to remove header and footer */
@media print {
    @page { size: A4; margin: 0; }
    html {
        margin: -1cm 0 0 0;
    }
    #main {
        padding: 2cm 1cm 0 1cm;
        margin: 0 1cm 0 1cm;
    }
    /* body { margin: 1cm 0 0 0; } */
    #footer {
        position: fixed;
        bottom: 1cm;
        left: 1.6cm;
    }
    /* #main {
        margin: 1cm 1cm 0 1cm;
        padding-bottom: -1cm;
    } */
}