- var date = new Date();
- var new_tab = {target:"_blank", rel:"noopener noreferrer"};

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title resume - maxime borges
    meta(name="description" content="Web version of Maxime Borges's resume")
    meta(name="author" content="Maxime Borges")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#181818")
    link(rel="stylesheet" href="static/fonts.css")
    link(rel="stylesheet" href="static/boilerplate.css")
    link(rel="stylesheet" href="static/style.css")
  body
    #main
      header.no-print
        a(href="devops_resume_maxime_borges.pdf")
          img(src="static/pdf-logo.svg")


      #title
        h1 maxime borges
        h2 embedded engineer & devops
        h4 computer addict and embedded system enthusiast

      #personnal_infos
        .personnal_info
          .personnal_info_content #[a(href="mailto:contact@maximeborg.es") contact@maximeborg.es]
        .personnal_info
          .personnal_info_content 23 years old
        .personnal_info
          .personnal_info_content from Strasbourg, France
        .personnal_info
          .personnal_info_content driver's license / able to travel
        .personnal_info
          .personnal_info_content native french & fluent english
      #links.no-print
        .bold links:
        .link #[a(href="https://www.linkedin.com/in/maximeborges/")&attributes(new_tab) linkedin.com/in/maximeborges]
        .link #[a(href="https://github.com/maximeborges")&attributes(new_tab) github.com/maximeborges]
        .link #[a(href="https://twitter.com/maximeborges")&attributes(new_tab) twitter.com/maximeborges]
        //- .link #[a(href="https://blog.maximeborg.es")&attributes(new_tab) blog.maximeborg.es]

      #professional_experiences
        .catergory_title experiences
        .apprenticeship
          .job
            .job_type work
            .job_name embedded software engineer & devops
            .job_place #[a(href="https://www.strataggem.com")&attributes(new_tab) Strataggem]
            .job_period 2016 #[span.arrow] 2019
            .job_extra engineering school apprenticeship
            .job_description
              ul
                li #[strong webapps & microservices] backend & frontend
                  ul
                    li Python, Node.js; Angular, Vue
                li #[strong virtualized server] management
                  ul
                    li Debian, Ubuntu, Proxmox, Docker, Kubernetes
                li #[strong server] monitoring (Grafana, ELK)
                li custom #[strong Linux distribution] (Yocto, Busybox)
                li #[strong agile] project management
                li #[strong embedded Linux] applications (Python, C, C++)
                li ultra-low power #[strong microcontroller firmware & PCB]
          .job
            .job_type education
            .job_name electronics & industrial IT engineering (Master)
            .job_place #[a(href="http://www.telecom-physique.fr/")&attributes(new_tab) Télécom Physique Strasbourg]
            .job_period 2016 #[span.arrow] 2019
            .job_extra engineering school apprenticeship
            .job_description
              ul
                li #[strong analog, digital & HF electronics] design
                li #[strong FPGA] development (VHDL)
                li #[strong programming] (C++, Java)
                li software #[strong modeling] (UML)
                li #[strong signal processing] (LabView, Matlab)
                li #[strong project management] (MS Project)
                li #[strong problem solving] (TRIZ)
        .job
          .job_type internship
          .job_name electronics engineer
          .job_place #[a(href="https://www.strataggem.com")&attributes(new_tab) Strataggem]
          .job_period 2016-04 #[span.arrow] 2016-06
          .job_description
            p #[strong design] & #[strong simulation] of a #[strong supercapacitor charging system] for embedded products
        .job
          .job_type home
          .job_description
            ul
              li #[strong server] & #[strong single board computer] management
              li electronic #[strong workshop] & #[strong teaching] @ local fablab
              li laptop #[strong motherboards] & #[strong smartphones repairing]
              li #[strong SDR] projects & #[strong electronics] designs
              li #[strong websites] & #[strong webapps] development

      #personnal_projects
        .catergory_title personnal projects
        .project
          .project_name #[a(href="https://github.com/maximeborges/svd2rust/tree/features/merge-multiple-svds")&attributes(new_tab) SVD2Rust#merge-multiple-svds]
          .project_date 2019 - WIP
          .project_description
            p SVD files describe registers and peripherals of microcontrolers. SVD2Rust generates Rust hardware abstraction layer libraries from SVD files.
            p This fork merge common properties of SVD files to a single library supporting multiple microcontrolers.
        .project
          .project_name #[a(href="https://tools.maximeborg.es")&attributes(new_tab) online binary tools]
          .project_date 2018
          .project_description
            p Tools for binary data manipulation running in the browser.
            p.only-print Available at: https://tools.maximeborg.es
            ul
              li text->hex->bin->b64->dec converter
              li TODO: more options!
              li TODO: cryptographic functions (AES...)
        .project
          .project_name #[a(href="https://github.com/maximeborges/Secure-MEAN")&attributes(new_tab) Secure-MEAN]
          .project_date 2016
          .project_description
            p A boilerplate for building MEAN onepage apps using HTTPS and JWT for secured sessions
            ul
              li based on MongoDB, Express, AngularJS, Node.js
              li wrote in cofeescript
              li directory walker to easily add new routes
              li #[a(href="https://github.com/maximeborges/Secure-MEAN/blob/master/controllers/User.coffee")&attributes(new_tab) different ways to define a route]
        .project
          .project_name #[a(href="https://github.com/maximeborges/LoRAndroid-hardware")&attributes(new_tab) LoRAndroid]
          .project_date 2019 - WIP
          .project_description
            p Compact #[strong LoRa modem] for #[strong Android].
            ul
              li #[strong Ultra-long distance]
              li #[strong Ultra-low power]
              li #[strong Cheap] design
              li #[strong No embedded software], everything is done on the #[strong smartphone] side
      
      #interests
        .catergory_title interests
        .project_description
          ul
            li open source software
            li cybersecurity & infosec
            li electronics & embedded software
            li competitive FPS & platform games
            li music
            li climbing

      #events
        .catergory_title events
        .project_name visitor @ #[a(href="https://events.ccc.de/congress/2018/wiki/index.php/Main_Page") Chaos Computer Congress]
        .project_date #[a(href="https://events.ccc.de/congress/2018/wiki/index.php/Main_Page") 2018]
        .project_description
          p conferences & workshops - security, hardware & privacy
        .project_name coach @ #[a(href="http://www.hackingindustry.camp/#about") HackingIndustryCamp]
        .project_date #[a(href="http://2017.hackingindustry.camp/#about") 2017]/#[a(href="http://2018.hackingindustry.camp/#about") 18]/#[a(href="https://www.hackingindustry.camp/") 19]
        .project_description
          p hackathon for the Industry 4.0

      //- .project
      //-   .project_name favorite tools
      //-   .project_description
      //-     ul
      //-       li Languages: Python, C++, Rust, Javascript
      //-       li EDA: KiCad, Eagle, Altium
      //-       li Linux distro: ArchLinux, Debian

    #footer.only-print Generated on #[span= date.toDateString()] from https://resume.maximeborg.es
