- var date = new Date();
- var new_tab = {target:"_blank", rel:"noopener noreferrer"};

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title resume - maxime borges
    meta(name="description" content="Web version of Maxime Borges's resume")
    meta(name="author" content="Maxime Borges")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#181818")
    link(rel="stylesheet" href="static/fonts.css")
    link(rel="stylesheet" href="static/boilerplate.css")
    link(rel="stylesheet" href="static/style.css")
  body
    #main
      header.no-print
        a(href="resume_maxime_borges.pdf")
          img(src="static/pdf-logo.svg")


      #title
        h1 maxime borges
        h2 embedded system engineer
        h4 computer addict and embedded system enthusiast

      #personnal_infos
        .personnal_info
          .personnal_info_content #[a(href="mailto:contact@maximeborg.es") contact@maximeborg.es]
        .personnal_info
          .personnal_info_content 25 years old, from Strasbourg, France
        .personnal_info
          .personnal_info_content currently in Geneva, Switzerland
        .personnal_info
          .personnal_info_content driver's license / able to travel
        .personnal_info
          .personnal_info_content native french & fluent english
      #links.no-print
        .bold links:
        .link #[a(href="https://www.linkedin.com/in/maximeborges/")&attributes(new_tab) linkedin.com/in/maximeborges]
        .link #[a(href="https://github.com/maximeborges")&attributes(new_tab) github.com/maximeborges]
        .link #[a(href="https://twitter.com/maximeborges")&attributes(new_tab) twitter.com/maximeborges]
        //- .link #[a(href="https://blog.maximeborg.es")&attributes(new_tab) blog.maximeborg.es]

      #professional_experiences
        .catergory_title experiences
        .apprenticeship
          .job
            .job_type last job
            .job_name embedded software engineer
            .job_place #[a(href="https://www.hedtechnologies.com/")&attributes(new_tab) HEDTechnologies]
            .job_period jan. 2020 #[span.arrow] sep. 2021
            .job_description
              ul
                li #[strong microcontroler] firmware (C, FreeRTOS, BT, BLE)
                li #[strong embedded Linux] application (C, C++)
                li #[strong heterogeneous processors] intercommunication (C)
                li #[strong DSP] code #[strong optimization] (C)
                li #[strong test bench] applications and #[strong tooling] (Python)
                li custom #[strong Linux distribution] (Yocto)
                li #[strong hardware debugging]
                li #[strong security analysis]
          .job
            .job_type previous job
            .job_name embedded system engineer
            .job_place #[a(href="https://www.strataggem.com")&attributes(new_tab) Strataggem]
            .job_period 2016 #[span.arrow] 2019
            .job_extra engineering school apprenticeship
            .job_description
              ul
                li low power #[strong microcontroller firmware] (Silabs, ESP)
                li #[strong PCB design] for MCU, RF & sensors (Eagle)
                li #[strong IoT radio] protocol (BLE, LoRa)
                li #[strong embedded Linux] applications (Python, C, C++)
                li custom #[strong Linux distribution] (Yocto, Busybox)
                li #[strong webapp] backend & frontend (Python; Angular, Vue)
                li #[strong server management] (Debian, Ubuntu)
                li #[strong agile] project management
          .job
            .job_type education
            .job_name electronics & industrial IT master
            .job_place #[a(href="http://www.telecom-physique.fr/")&attributes(new_tab) Télécom Physique Strasbourg]
            .job_period 2016 #[span.arrow] 2019
            .job_description
              ul
                li #[strong analog, digital & HF electronics] design
                li #[strong programming] (C++, Java, VHDL)
                li software #[strong modeling] (UML)
                li #[strong signal processing] (LabView, Matlab)
                li #[strong project management] (MS Project)
                li #[strong problem solving] (TRIZ)
          .job
            .job_type personnal
            .job_description
              ul
                li #[strong sysadmin] and #[strong commitee] member @ #[a(href="https://www.posttenebraslab.ch") #[strong PostTenebrasLab]] Geneva hackerspace
                li electronic #[strong workshop] & #[strong teaching] @ local fablab
                li laptop #[strong motherboards] & #[strong smartphones repairing]
                li #[strong SDR] projects & #[strong electronics] designs
                li #[strong music festivals organisation] and #[strong soundsystem tuning]

      #personnal_projects
        .catergory_title personnal projects
        .project
          .project_name Ethernet motor driver
          .project_description
            p A robust, event-driven and faillure resistant motor driver controlled from an Ethernet interface.
            p Wrote in Rust on a STM32F7 microcontroller
            p Will be tested for an associative art project
        .project
          .project_name LoRAndroid
          .project_description
            p Compact #[strong LoRa modem] for #[strong Android].
            ul
              li #[strong Ultra-long distance]
              li #[strong Ultra-low power]
              li #[strong Cheap] design
              li #[strong No embedded software], everything is done on the #[strong smartphone] side
        .project
          .project_name FIR audio DSP
          .project_description
            p An audio processor using FIR filters. This allow to compensante for amplitude and phase at any frequencies.
            p Based on a Xilinx Zynq FPGA.
            ul
              li #[strong ADC & DAC] board design
              li #[strong FPGA interface] for ADC & DAC
        .project
          .project_name NFC Door Lock
          .project_description
            p Update of the NFC door lock of the PostTenebrasLab Hackerspace in Geneva
            p Authentication over the network with a new embedded LDAP client
      
      #interests
        .catergory_title interests
        .project_description
          ul
            li open source software
            li cybersecurity & infosec
            li electronics & embedded software
            li competitive FPS & platform games
            li music
            li climbing

      #events
        .catergory_title events
        .project_name visitor @ #[a(href="https://events.ccc.de/congress/2018/wiki/index.php/Main_Page") Chaos Computer Congress]
        .project_date #[a(href="https://events.ccc.de/congress/2018/wiki/index.php/Main_Page") 2018]
        .project_description
          p conferences & workshops - security, hardware & privacy
        .project_name coach @ #[a(href="http://www.hackingindustry.camp/#about") HackingIndustryCamp]
        .project_date #[a(href="http://2017.hackingindustry.camp/#about") 2017]/#[a(href="http://2018.hackingindustry.camp/#about") 18]/#[a(href="https://www.hackingindustry.camp/") 19]
        .project_description
          p hackathon for the Industry 4.0

      //- .project
      //-   .project_name favorite tools
      //-   .project_description
      //-     ul
      //-       li Languages: Python, C++, Rust, Javascript
      //-       li EDA: KiCad, Eagle, Altium
      //-       li Linux distro: ArchLinux, Debian

    #footer.only-print Generated on #[span= date.toDateString()] from https://resume.maximeborg.es
